<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772267063346-84q8450cmo5k7tiehfa48iq95q7ng0ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772267063346-84q8450cmo5k7tiehfa48iq95q7ng0ti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772267063346-pchqitisnl8655a7r4pphub948llqtej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA79tNPgyP1zg_-RVz6dt70mn9qPOHcqG4</string>
	<key>GCM_SENDER_ID</key>
	<string>772267063346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dexterCart</string>
	<key>PROJECT_ID</key>
	<string>dextercart-aa4e6</string>
	<key>STORAGE_BUCKET</key>
	<string>dextercart-aa4e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772267063346:ios:67e6ad67153c547fc5e42b</string>
</dict>
</plist>